@import "bootstrap.less";

/*customize variants*/

//DISTANCIAS
@border-radius-menu: 0px;

//CORES
@cinza-padrao : #777777;
@cinza-claro : lighten(@cinza-padrao, 40%); 






//////////////////////////////////////////////
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
//////////////////////////////////////////////

.container {
	padding-left: 0px;
	padding-right: 0px;
}

hr{
	 margin-top: 0px; 
	 margin-bottom: 0px;
	 border-top: 1px solid @cinza-claro;
}


.navbar-collapse{
	.navbar-form{
		width: 100%;	
	}		
}


/* --- header ---  */
header{

	
	
	
}


/* --- .barra-local---  */
.barra-local{
	
	.nome-pagina{
		.text-left;
	}
		
	.migalha{
		.text-right;		
	}

}



/* --- .footer---  */
footer{
	.sessao-footer{
		h4{
			border-bottom: solid 1px;
		}
	}
}


/* --- .img-destaque-home---  */
.img-destaque-home{
	background-color: @cinza-claro;
	
	.jumbotron{
		background-color: transparent;
		border-radius: 0px;
		margin-bottom: 0px;
		background-image: url('../img/dotores.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		height: 180px;	
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}
}


.divisoria-tipo-01{
	p{
		.text-uppercase;
		.text-center;
	}
	
	.col-esq{
		border-right: solid 1px @cinza-claro;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.col-dir{
		border-left: solid 1px @cinza-claro;
		padding-left: 0px;
		padding-right: 0px;		
	}
}


.vitrine-parceiros{
	.center-block;
	.text-center;
	img.logo-parceiros{
		height: 40px;
	}
}


//////////////////////////////////////////////
/* Extra-small devices ONLY  */
//////////////////////////////////////////////

@media (max-width: @screen-xs-max){
	.row{
		margin-left: 0px; 
		margin-right: 0px; 
	}
}

//////////////////////////////////////////////
/* Small devices (tablets, 768px and up) */
//////////////////////////////////////////////
@media (min-width: @screen-sm-min) {
	
	
	/* --- header---  */
	header{
		.navbar-default {	
		padding-top: 70px;
		
		.navbar-collapse{
			.navbar-nav{
				&>li{
					margin: 0 0 0 10px ;
				}
			}
		}
		
		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
		
		ul{
			.navbar-form{
				.input-group{
					.form-control{
						border-radius: @border-radius-menu;
					}
				}
				button{
					border-radius: @border-radius-menu;
				}
			}
		}
		
	}
		
	}
	
	

	/* --- .img-destaque-home---  */
	.img-destaque-home{
		.jumbotron{
			width: @container-sm;
			background-size: cover;
			height: 330px;
		}
	}
	 
}



	/* --- .footer---  */
	footer{
		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
	}

//////////////////////////////////////////////
/* Medium devices (desktops, 992px and up) */
//////////////////////////////////////////////
@media (min-width: @screen-md-min) {
	
	.navbar-collapse{
		.navbar-form{
			width: 170px;	
		}		
	}
	

	/* --- .img-destaque-home---  */
	.img-destaque-home{
		.jumbotron{
			width: @container-md;
			background-size: cover;
			height: 330px;
		}
	}
	
}

//////////////////////////////////////////////
/* Large devices (large desktops, 1200px and up) */
//////////////////////////////////////////////
@media (min-width: @screen-lg-min) { 
	
	/* --- .img-destaque-home---  */
	.img-destaque-home{
		.jumbotron{
			width: @container-lg;
			background-size: cover;
			height: 330px;
			padding-left: @padding-base-horizontal;
			padding-right: 15px;
		}
	}
	
}
